/*Geral*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    text-align: center;

    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.151) 0px 7px 
    9px 0px;
    display: none;
}

img{
    width: 300px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

section{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 1000px;
    

    box-shadow: rgba(0, 0, 0, 0.151) 0px 7px 9px 0px;  
}

div.login-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
}

div.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 100%;

    background-color: white;
    border-radius: 10px;
}

div.formContainer h2{
    margin-bottom: 40px;
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    
}

i#userSymbol{
    margin-left: -25px;
}

.usernameInputContainer{
    width: 295px;
    margin-left: 10px;
}

.usernameInputContainer{
    width: 295px;
    margin-left: 10px;
}

i{
    font-size: 1.1em;
}

input{
    border: none;
    background-color: white;
    width: 250px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}



input:focus{
    border: none;
    outline: none;
}

form > div{
    border-bottom: 1px solid black;
    margin-bottom: 35px;
}

button{
    cursor: pointer;
}

button.visiblePassword{
    background-color: white;
    border: none;
    color: black;
    font-size: 0.9em;
}

button.mainActionButton {
    font-size: 16px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}
   
button.mainActionButton:hover {  
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30, 144,255,1) 0%, rgba(0,212,255,1) 100%);
}

button.mainActionButton:active {
    transform: translate(0em, 0.2em);
}


div.lastInputForm{
    margin-bottom: 20px;
}

.hidden{
    display: none;
}

.errorContainer{
    text-align: center;
    border: none;
    color: black;
    font-size: 0.9em;
    margin-bottom: 20px;
    color: red;
}

a{
    background-color: white;
    border: none;
    color: rgb(59, 206, 255);
    font-size: 1em;
    text-decoration: none;
}

/*Login*/
div.passwordInputContainer{
    margin: 10px;
}

a.forgotPassword{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 8px;
    font-size: 0.9em;
    display: block;
    background-color: white;
    border: none;
    color: rgb(59, 206, 255);
}

@media screen and (min-width:0px) and (max-width:767px){
    div.login-image{
        display: none;
    }
    header{
        display: block;
    }
    img{
        width: 60px;
    }
    section{
        padding: 1rem;
        margin-bottom: 100px;
        box-shadow: none;
    }
    main{
        background-color: white;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px){
    section{
        height: 600px;
        width: 700px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1024px){
    section{
        height: 740px;
        width: 900px;
    }
}



